.text-field {
    -fx-background-image: url("../img/icon-search-16.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 10 center;
}
.list-view{
    -fx-background-color: #fffafa;
    -fx-border-color: #010221;
    -fx-text-fill: #010221;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.list-cell{
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.list-cell:selected {
    -fx-background-color: #DFDEEF;
}

.button:hover {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #010221;
    -fx-text-fill: #fffafa;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button {
    -fx-border-radius: 8;
    -fx-border-color: #010221;
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover .glyph-icon {
    -fx-fill: #fffafa;
}