.primary-color{
    -fx-background-color: #010221;
    -fx-text-fill: white;
}
.primary-button{
    -fx-border-radius: 8;
    -fx-border-color: #fffafa;
    -fx-background-color: #010221;
    -fx-text-fill: #fffafa;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.primary-button:hover{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.primary-signIn{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.primary-signIn:hover{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(#faef14, #fa6d05);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.text-color{
    -fx-text-fill: white;
}
.glyph-icon:hover {
    -fx-fill: #f5f6fa;
}