.background-light {
    -fx-background-color: #fffafa;
}

.accent-light {
    -fx-background-color: #fffafa;
}

.radius {
    -fx-background-radius: 30;
}

.custom-button:hover {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #010221;
    -fx-text-fill: #fffafa;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.custom-button {
    -fx-border-radius: 8;
    -fx-border-color: #010221;
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.custom-button:hover .glyph-icon {
    -fx-fill: #fffafa;
}
.list-view-custom{
    -fx-background-color: #fffafa;
    -fx-border-color: #010221;
    -fx-text-fill: #010221;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
#listCategory .list-cell{
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
#listCategory .list-cell:selected {
    -fx-background-color: #DFDEEF;
}
#listContent .list-cell{
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
#listContent .list-cell:selected {
    -fx-background-color: #DFDEEF;
}

.title{
    -fx-text-fill: #010221;
    -fx-background-color: transparent;
}
.text-area{
    -fx-background-color: #fffafa;
    -fx-text-fill: #010221;
    -fx-border-radius: 8;
    -fx-border-color: #010221;
}
.text-area .content{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}