.background-light {
    -fx-background-color: #fff;
}

.accent-light {
    -fx-background-color: #dcdde1;
}

.radius {
    -fx-background-radius: 30;
}

.button:hover {
    -fx-background-color: #545454;
    -fx-background-radius: 8;
    -fx-text-fill: #f5f6fa;
}
.button {
    -fx-background-color: #dcdde1;
    -fx-background-radius: 8;
}

.list-view{
    -fx-background-color: white;
    -fx-border-color: #545454;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.list-cell{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.title{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.text-area{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 8;
    -fx-border-color: black;
}
.text-area .content{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}